@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    display: flex;
}
footer{
    background-color: #282828;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 80px;
    color: white;
}
.footer_sx, .footer_dx{
    width: 20%;
}
.footer_center{
    width: 60%;
}
/* parte sinistra del footer */
.footer_sx img{
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
}
.footer_sx i{
    margin: 0 5px;
}
.footer_sx_icons{
    padding-left: 20px;
    margin: auto;
}
.footer_sx{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
/* Parte centrale del footer */
.time_bar{
    background-color: grey;
    border-radius: 5px;
    width: 400px;
    height: 5px;
    display: inline-block;
}

.footer_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.commands .fa-circle-play{
    margin: 10px;
}
.commands i, .footer_dx i{
    margin: 10px 5px;
    color: white;
}
/* parte destra del footer */
.footer_dx{
    display: flex;
    justify-content: center;
    align-items: center;
}
#myRange{
    background-color: pink;
    color: green;
    width: 100px;
}
/* Barra di navigazione laterale */
nav{
    width: 15%;
    background-color: black;
    height: calc(100vh - 80px);  
}
.container_nav{
    padding: 10px;
}
#logo{
    max-height: 30px;
    margin-bottom: 20px;
}
.nav_top{
    padding-right: 20px;
    padding-bottom: 20px;
}
.nav_top img{
    max-height: 20px;
}
.nav_top ul li a{
    text-decoration: none;
    color: grey;
    vertical-align: top;
    cursor: pointer;
}
.nav_top ul li a:hover{
    border-left: 2px solid green;
    padding-left: 5px;
    color: white;
}
.nav_top ul li{
    list-style-type: none;
    color: white;
}
h3{
    color: white;
    text-transform: uppercase;
}
/* Lista playlist */
#create_playlist i{
    background-color: grey;
    padding: 5px;
    cursor: pointer;
}
#create_playlist a{
    text-decoration: none;
    color: gray;
    margin-left: 5px;
}
#create_playlist a:hover{
    color: white;
    font-weight: bold;
}
#create_playlist{
    margin: 5px 0;
}
.play_list{
    color: white;
}
.play_list ul li{
    list-style-type: none;
    padding: 5px 0;
}
.play_list ul li a{
    color: gray;
    text-decoration: none;
    font-size: 14px;
}
.play_list ul li a:hover{
    color: white;
    font-weight: bold;
}
/* main */
main{
    width: 90%;
    height: calc(100vh - 80px);
    background-color: #141922;
}
