@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
body{
    display: flex;
}
footer{
    background-color: #282828;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 80px;
    color: white;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    width: 98%;
    margin: 20px auto;

}

.footer_sx, .footer_dx{
    width: 20%;
}
.footer_center{
    width: 60%;
}
/* parte sinistra del footer */
.footer_sx img{
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
}
.footer_sx i{
    margin: 0 5px;
    cursor: pointer;
}
.footer_sx i:active{
    color: rgb(0, 230, 0);
}
.footer_sx_icons{
    padding-left: 20px;
    margin: auto;
}
.footer_sx{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
/* Parte centrale del footer */
.time_bar{
    background-color: grey;
    border-radius: 5px;
    width: 400px;
    height: 5px;
    display: inline-block;
}

.footer_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.commands .fa-circle-play{
    margin: 10px;
}
.commands i, .footer_dx i{
    margin: 10px 5px;
    color: white;
}
/* parte destra del footer */
.footer_dx{
    display: flex;
    justify-content: center;
    align-items: center;
}
#myRange{
    width: 100px;
}

/* Barra di navigazione laterale */
nav{
    width: 15%;
    background-color: black;
    height: calc(100vh - 80px); 
    font-size: 14px; 
}
.container_nav{
    padding: 10px;
}
#logo{
    max-height: 35px;
    margin-bottom: 20px;
}
.nav_top{
    padding-right: 20px;
    padding-bottom: 20px;
}
.nav_top img{
    max-height: 20px;
}
.nav_top ul li a{
    text-decoration: none;
    color: grey;
    vertical-align: top;
    cursor: pointer;
}
.nav_top ul li a:hover{
    border-left: 2px solid rgb(0, 230, 0);
    padding-left: 5px;
    color: white;
}
.nav_top ul li:hover{
    padding: 5px 0;
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
}
.nav_top ul li{
    list-style-type: none;
    color: white;
    margin: 5px 0;
}

/* Lista playlist */
#create_playlist i{
    background-color: grey;
    padding: 5px;
    margin-right: 5px;
    color: white;
}
section.play_list h3{
    font-size: 16px;
    padding: 5px;
    text-transform: uppercase;
}
#create_playlist a{
    text-decoration: none;
    color: gray;
    margin-left: 5px;
}
#create_playlist a:hover{
    color: white;
    font-weight: bold;
}
#create_playlist{
    margin: 5px 0;
}
.play_list{
    color: white;
}
.play_list ul li{
    list-style-type: none;
    padding: 5px;
}
/* .play_list ul{
   overflow-y: scroll;
} */

.play_list ul li a{
    color: gray;
    text-decoration: none;
    font-size: 14px;
}
.play_list ul li a:hover{
    color: white;
    font-weight: bold;
}
/* parte bassa del nav */
.nav_bottom .download_app img{
    max-height: 15px;
    padding-right: 5px;
}
.nav_bottom .download_app{
    border-bottom: 1px solid white;
    padding: 10px 0;
}
.nav_bottom .download_app a{
    width: 100px;
    text-decoration: none;
}
.nav_bottom .user img{
    max-height: 25px;
    background-color: gray;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}
.user{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
/* main */
main{
    width: 90%;
    height: calc(100vh - 80px);
    background-color: #141922;
    overflow-y: scroll;
}
header{
    width: 100%;
    background: rgba(0,0,0,.5);
    height: 55px;
    position: relative;
}
.upgrade{
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 8px 20px;
    cursor: pointer;
}
.upgrade:hover{
    background-color: rgba(255, 255, 255, .3);
    padding: 10px 22px;
}
.main_section{
    height: calc(100% - 50px);
}
.main_section_browse{
   padding: 10px 0;
   margin: auto;
   width: 80%;
}
.main_section_browse ul{
    display: flex;
    justify-content: space-around;

}
.main_section_browse ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}
.main_section_browse ul li{
    list-style-type: none;
}
.main_section_browse ul li a:hover{
    border-bottom: 2px solid rgb(0, 230, 0);
}
.artist img{
    max-height: 150px;
}
.artist{
    max-width: 150px;
}
.covers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.albums h2{
    margin: 0 0 15px 15px;
    font-size: 16px;
}
.album_desc{
    text-align: center;
    font-size: 10px;
}
.created_for{
    margin: 15px;
}
.created_for h2{
    font-size: 16px;
    margin: 15px 0;
}
.radar{
    display: flex;
    justify-content: flex-start;
}
.created_for_covers, .round_img{
    margin-right: 30px;
}
.round_img img{
    border-radius: 50%;
}
main img:hover{
    opacity: .3;
}
