*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* generale */
body{
  font-family: 'Montserrat', sans-sans-serif;
  color: #fff
}
#wrapper{
  width: 100%;
  height: 100vh;
  background-color: #141922;
}
main{
  height: calc(100% - 90px);
  overflow: hidden;
}
.clearfix::after{
  content: '';
  clear: both;
  display: table;
}
a{
  text-decoration: none;
  color: white;
  opacity: .7;
}
a:hover{
  opacity: 1;
}
ul li{
  list-style-type: none;
  font-size: 13px;
  line-height: 20px;
}
main nav.main_nav{
  float: left;
  width: 50px;
  height: 100%;
  background-color: black;
}
main nav.main_nav .nav_top{
  height: calc(100% - 80px);
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}
main nav.main_nav .nav_bottom{
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
section.nav_bottom .user img{
  width: 27px;
  height: 27px;
  background-color: grey;
  border-radius: 50%;
  overflow: hidden;
}
section.nav_bottom .app_download img{
  width: 15px;
}
main #content{
  float: left;
  width: calc(100% - 50px);
  height: 100%;
  background: #141922;
  overflow-y: auto;
  overflow-x: hidden;
}
main nav.main_nav .nav_logo,
.nav_main_menu ul li a,
.text_active_desk,
.playlist{
  display: none;
}
#player_commands li{
  display: inline-block;
  margin: 0 5px;
}
#player_commands{
  text-align: center;
}
.command_play{
  font-size: 18px;
  margin: 0 10px;
}
/* media query */
@media (min-width: 576px){
  main nav.main_nav{
    width: 200px;
  }
  main nav.main_nav .nav_logo{
    display: block;
  }
  .nav_logo img{
    height: 40px;
    margin: 5px;
  }
  main nav.main_nav .nav_logo_mobile {
    display: none;
  }
  .nav_main_menu ul li a{
    display: inline-block;
  }
  .nav_main_menu ul li{
    line-height: 20px;
    display: flex;
    align-items: center;
  }
  .nav_main_menu ul li:hover{
    border-left: 3px solid yellowgreen;
  }
  .nav_main_menu ul li img{
    height: 20px;
    margin: 2px;
  }
  .nav_main_menu ul{
    text-align: left;
  }
  main nav.main_nav .nav_bottom{
    align-items: flex-start;
    padding-left: 5px;
  }
  .text_active_desk{
    display: inline-block;
  }
  main{
    background-color: #141922;
  }
  .app_download img{
    height: 12px;
  }
  .app_download{
    line-height: 12px;
    border-bottom: 2px solid white;
    padding: 10px 0;
    width: 98%;
  }
  .app_download p{
    font-size: 12px;
  }
  .nav_bottom .user img{
    vertical-align: middle;
  }
  .playlist{
    display:block;
    margin-left: 5px;
  }
  .playlist ul li a i{
    padding: 5px;
    margin-right: 5px;
    background-color: grey;
  }
  .playlist h2{
    text-transform: uppercase;
    font-size: 16px;
    margin: 10px 0;
  }
  .main_content{
    height: calc(100% - 50px);
    width: calc(100% - 200px);
    overflow-y: scroll;
  }
  .rp_titles{
    margin: 10px;
  }
  .rp_images img{
    width: 14%;
  }
  .main_menu{
    overflow-y: scroll;
  }
}

/* fine query */
main nav.main_nav .nav_main_menu{
  text-align: center;
  padding: 5px;
}
main nav.main_nav .nav_logo_mobile img{
  width: 70%
}
main nav.nav_main_menu .nav_logo img{
  width: 60%
}
/* footer */
footer{
  height: 90px;
  background-color: #282828;
}
.player_bar{
  width: 80%;
  height: 4px;
  background-color: rgba(255, 255, 255, .2);
  cursor: pointer;
}
.time_bar{
  margin-top: 4px;
}
.player_bar:hover .gen_bar{
  background-color: seagreen;
}
.gen_bar{
  position: relative;
  height: 100%;
  width: 25%;
  background-color: rgba(255, 255, 255, .6);
}
.pallino{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
footer #player{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
footer #player .player_album,
footer #player .player_audio{
  width: 230px;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer #player .player_audio{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer #player .player_album .player_album_cover{
  width: 20%;
}
footer #player .player_album .player_album_cover img{
width: 100%;
}
footer #player .player_album .player_album_title{
width: 50%;
padding-left: 10px;
}
footer #player .player_album .player_album_title h2{
 font-size: 12px;
 line-height: 12px;
}
footer #player .player_album .player_album_title p{
font-size: 10px;
}
footer #player .player_album .player_icon i{
  margin-left: 10px;
}
footer #player .player_album .player_icon{
  display: flex;
  flex-direction: column;
}
footer #player #playercommands,
footer #player #playercommands ul{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

/* audio */
footer #player .player_audio ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
footer #player .player_icon .icons_list{
list-style: none;
font-size: 13px;
line-height: 35px;
}
.player_audio_volume{
  width: 65%;
}
.player_controller{
  width: 40%;
}
.player_controller_time_min{
  width: 10%;
  margin: 0 10px;
  font-size: 10px;
}
.player_controller_time{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
ul.icons_list{
  width: 200px;
}
.header{
  height: 50px;
  background-color: rgba(0,0,0,.6);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.upgrade{
  border: 1px solid white;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  margin-right: 5px;
  text-transform: uppercase;
  font-size: 12px;
}
.main_menu{
  display: flex;
  justify-content: center;
}
#main_menu_pages{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#main_menu_pages li{
  margin: 5px;
  text-transform: uppercase;
}
#main_menu_pages li:hover{
  border-bottom: 1px solid yellowgreen;
}